* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.hero {
    position: relative;
    width: 95%;
    border: none;
    height: 90vh;
    margin: 1em auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    flex-direction: column;
    gap: .5em;
    text-align: center;
}
.text h1 {
    font-size: 1.5rem;
}
.text button {
    padding: .5em;
    border: none; 
    border-radius: .3em;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

@media (max-width: 740px){
    .hero {
        height: 50vh;
    }
}